<!DOCTYPE html>
<html>
  <head>
    <title>Hash Functions</title>
    <script src='https://cdn.staticfile.org/jquery/3.5.1/jquery.js'></script>
    <script src='https://cdn.staticfile.org/popper.js/2.8.4/umd/popper.js'></script>
    <script src='https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.js'></script>
    <script src='https://cdn.staticfile.org/vue/2.6.12/vue.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/core.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/x64-core.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/enc-base64.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/sha1.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/sha256.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/sha224.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/sha512.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/sha384.js'></script>
    <script src='https://cdn.staticfile.org/crypto-js/4.0.0/md5.js'></script>
    <script src='../assets/main.js'></script>
    <link rel='stylesheet' href='https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.css'>
    <link rel='stylesheet' href='../assets/main.css'>
  </head>
  <body class='bg-dark text-white text-center'>
    <header class='header text-left p-2'>
      <a href='index.html'>
        <img src='../assets/backarrow.png' alt='back' height='40'>
      </a>
    </header>
    <main class='container'>
      <section class='main'>
        <h1>Cryptography :: Hash Functions</h1>
        <span>
          A hash function is any function that can be used
          to map data of arbitrary size to fixed-size values.
        </span>
      </section>
      <hr>
      <section id='app'>
        <form @submit='doHash'>
          <span>Hash Algorithm:</span>
          <select v-model='hashname' value='sha1' class='form-control my-2 half-card mx-auto'>
            <option value='sha1'>SHA1</option>
            <option value='sha224'>SHA2-224</option>
            <option value='sha256'>SHA2-256</option>
            <option value='sha384'>SHA2-384</option>
            <option value='sha512'>SHA2-512</option>
            <option value='md5'>MD5</option>
          </select>
          <div class='row'>
            <div class='col-6'>
              <span>Input Data:</span>
              <div class="form-check mt-1">
                <input type="checkbox" class="form-check-input" id="base64" v-model='useBase64'>
                <label class="form-check-label" for="base64">Base64 Input</label>
              </div>
              <textarea v-model='input' class='form-control mt-1 mono' style='resize: none;' rows='19'></textarea>
            </div>
            <div class='col-6'>
              <span>Output Data:</span>
              <textarea v-model='output' class='form-control my-2 mono' style='resize: none;' rows='20'></textarea>
            </div>
          </div>
          <input type='submit' class='btn btn-outline-light mt-2' value='&gt; Do Hash &gt;'>
        </form>
      </section>
    </main>
    <footer class='footer bg-dark'>
      <div class='container'>
        <hr>
        <div class='row mb-2'>
          <div class='col-6 p-2'>
            <a href='/about.html'>About</a>
          </div>
          <div class='col-6 p-2'>
            <span>This site is mainteined by <a href='https://github.com/origamizyt'>origamizyt</a>.</span><br>
            <span>Email: <a href='mailto:zhaoyitong18@163.com'>zhaoyitong18@163.com</a></span>
          </div>
        </div>
      </div>
    </footer>
    <script>
      let qs = tools.parameters();
      let app = new Vue({
        el: '#app',
        data: {
          input: "",
          output: "",
          hashname: qs['name'] || "sha1",
          useBase64: false
        },
        methods: {
          doHash(e){
            e.preventDefault();
            let func = CryptoJS[this.hashname.toUpperCase()];
            let word;
            if (this.useBase64)
              word = CryptoJS.enc.Base64.parse(this.input);
            else
              word = CryptoJS.enc.Utf8.parse(this.input);
            let digest = func(word);
            this.output = `Base64:\n${digest.toString(CryptoJS.enc.Base64)}\n\nHex:\n${digest.toString()}`;
          }
        }
      })
    </script>
  </body>
</html>